<%= form_with(model: preference) do |form| %>
  <% if preference.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(preference.errors.count, "error") %> prohibited this preference from being saved:</h2>

      <ul>
        <% preference.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :type, style: "display: block" %>
    <%= form.text_field :type %>
  </div>

  <div>
    <%= form.label :owner_type, style: "display: block" %>
    <%= form.text_field :owner_type %>
  </div>

  <div>
    <%= form.label :owner_id, style: "display: block" %>
    <%= form.number_field :owner_id %>
  </div>

  <div>
    <%= form.label :data, style: "display: block" %>
    <%= form.text_area :data %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
