<div id="<%= dom_id preference %>">
  <p>
    <strong>Type:</strong>
    <%= preference.type %>
  </p>

  <p>
    <strong>Owner type:</strong>
    <%= preference.owner_type %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= preference.owner_id %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= preference.data %>
  </p>

</div>
